.wy-nav-content{
    max-width:1000px;
}

@media screen and (min-width: 1100px) {
    .wy-nav-content-wrap{
        background-image: url("../black-white-1000.png");
    }
}
.wy-side-nav-search, .wy-nav-top {
    background-color: #b31121;
}
a:visited.reference.internal, a:visited.reference.external, 
a.reference.internal, a.reference.external {
    color: #b31121;
}

p, ul.simple li, ol.simple li {
   font-size: 18px;
}
.highlight {
    background: #efefef;
}